{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
  },
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "default-case": 1,
    "no-console": 1,
    "no-unused-vars": 1
  }
}
